/* ESTILOS DE PRUEBA */

/* font-family: 'Great Vibes', cursive;
font-family: 'Vidaloka', serif; */

/* GENERAL STYLES */

html {
  background-color: hsla(220, 50%, 0%, 1);
  font-size: 20px;
  font-family: 'Vidaloka', serif;
}

.centrado {
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 4rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

i {
  margin: 1rem;
}
/* Multilingual Box */
#multilingual{
  background-color: hsla(360, 100%, 80%,0);
  position: absolute;
  top: 4.2rem;
  right: 10%;
  z-index: 20
}
/* FIXED TOP BAR STYLES */

#bar {
  background-color: hsla(120, 100%, 0%, .9);
  border-bottom: 1px solid hsl(100, 0%, 100%);
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  z-index: 10;
}

#bar h2 {
  font-size: 3rem;
  margin-left: 7rem;
  color: hsl(100, 0%, 100%);
  font-family: 'Great Vibes', cursive;
}

#bar nav {
  margin-right: 7rem;
}

/* NAVIGATION LINK SECTION (TOP BAR AND FOOTER) */

nav i {
  color: hsl(100, 0%, 100%);
  font-size: 3.5rem;
  margin: 0 0.5rem;
}

nav i:hover {
  color: hsla(60, 100%, 0%, 1);
  text-shadow: 0 0 7px hsla(60, 100%, 100%, 1);
}

/* LANDING PAGE */

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 100%;
}

/* MAIN PART */

main {
  height: auto;
  background-image: url('../image/angel-indep.jpg');
  background-size: cover;
  background-position: center;
  background-color: hsl(210, 100%, 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
  color: hsl(100, 100%, 100%);
  border-bottom: 1px solid white;
}

main div p {
  font-size: 2rem;
  width: 70%;
  margin: 3rem;
  text-align: center;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(360, 0%, 0%, .8);
}

/* INFORMATION PART */

section {
  background-color: hsl(200, 100%, 0%);
  display: flex;
  flex-direction: column;
  color: hsl(220, 50%, 100%);
  border-bottom: 1px solid hsl(100, 100%, 100%);
  padding-bottom: 5rem;
}

section div:first-child {
  align-self: center;
}

.infopack {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infobox {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.infobox p {
  margin-top: 2rem;
  width: 80%;
  display: none;
  text-shadow: none;
  font-size: 1.5rem;
  text-align: justify;
}

.selector {
  text-align: center;
}

.selector i {
  font-size: 2rem;
  /* color:hsl(120, 98%, 20%); */
    /* color: hsl(10, 80%, 35%); */
      /* color: hsl(225, 100%,65%); */
        /* text-shadow: 1px 1px 1px hsl(120, 98%, 20%); */
}

#holydays {
  justify-content: center;
}

.fila {
  margin-top: 5rem;
}

.infobox:hover {
  cursor: pointer;
}

.infobox:hover div i {
  font-size: 3rem;
}

/* CONTACT, MAIL, NUMBERS AND NAVIGATION LINK SECTON (JUST FOOTER) */

footer {
  padding-top: 5rem;
  margin-top: 4rem;
  background-color: hsl(300, 80%, 0%);
  color: hsl(100, 100%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h1 {
  margin-bottom: 3rem;
  text-align: center;
}

#footah {
  background-image: url('../image/centro-valle-desenfoque.jpg');
  background-position: center;
  height: 30rem;
  display: flex;
  background-size: cover;
  display: flex;
  align-items: center;
}

#footah div {
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  color: white;
  background-color: hsla(100, 100%, 0%, .9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#footah a {
  text-decoration: none;
  color: white;
}

#footah i {
  font-size: 4rem;
  margin: 2rem 0;

}

#last-part {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
  border-top: 1px solid white;
}

#last-part div {
  display: flex;
  align-items: center;
}

#last-part div img {
  height: 3rem;
}

/* MEDIA QUERIES FROM HERE */
/* MEDIA QUERIES FROM HERE */
/* MEDIA QUERIES FROM HERE */
/* MEDIA QUERIES FROM HERE */
@media only screen and (max-width:1024px){
main{
  height: 30rem;
}
main div p{
  margin: 1rem;
    font-size: 1.2rem;
  width: 70%;
}
#footah div {
  font-size: 1.3rem;
  height: 10rem;
  width: 16rem;
}
#footah .segundo{
  display: none;
}
#footah i {
  font-size: 2rem;
  margin: 0.5rem;
}

}
@media only screen and (max-width:850px){
.centrado{
  width: 100%;
}
  #bar{
    justify-content: center;
    position: absolute;
    top: 0;
  }
#bar nav{
  display: none;
}
#bar h2 {
  font-size: 2rem;
  margin: 0;
}
#footah{
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
#footah div{
  width: 100%;
  height: 7rem;
}
#last-part div {
    font-size: 1.5rem;
}
#last-part{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#last-part div img {
  height: 2rem;
}
#last-part nav i{

    font-size: 2rem;
}
.infobox p{
  font-size: 1rem;
}
h2{
  font-size: 1.2rem;
}
main div p{
  width: 90%;
}
.infopack{
  flex-direction: column;
}
.infobox{
  margin: 1rem auto;
}
}
